@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background:#d7d7d9;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width:100%;
}
.wrapper{
    width:40rem;
    border-radius: 0.5rem;
    padding:1rem;
    background:#fff;
}
.wrapper .input-field{
    z-index:-999;
    opacity:0;
    position: absolute;
}
.wrapper .content-box .typing-text{
    width:100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    max-height: 12rem;
    overflow-y: auto;
}
.wrapper .content-box .typing-text::-webkit-scrollbar{
    width: 0;
}
.wrapper .content-box .typing-text p{
    font-size:1rem;
    font-weight: 500;
    text-align: justify;
    word-break: break-all;
    color:#827676;
}
.wrapper .content-box .typing-text p span{
    position:relative;
}
.wrapper .content-box .typing-text p span.active{
    color:#17a2b8;
}
.wrapper .content-box .typing-text p span.active::after{
    position:absolute;
    content: "";
    height:0.18rem;
    width:100%;
    bottom:0;
    left:0;
    background: #17a2b8;
    animation: blink 0.5s ease-in-out infinite;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity:0.5
    }
}
.wrapper .content-box .typing-text p span.correct{
    color:#000;
}
.wrapper .content-box .typing-text p span.incorrect{
    color:rgb(201, 5, 5);
    background:#ffc0cb;
}
.wrapper .content-box .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    margin-top: 1rem;
    border-top:0.1rem solid #ccc;
    padding:1rem 0;
}
.wrapper .content-box .content .result-details{
    display: flex;
    width:calc(100% - 10rem);
    justify-content: space-between;
}
.wrapper .content-box .content .result-details li{
    display: flex;
    gap:0.5rem;
}
.wrapper .content-box .content .result-details li:not(:first-child){
    border-left:0.17rem solid #ccc;
    padding-left: 1rem;
}
.wrapper .content-box .content .result-details li p{
    font-size:1rem;
    font-weight:600;
    color:#333;
}
.wrapper .content-box .content .result-details li span{
    font-size:1rem;
    font-weight:600;
    color:#000;
}
.wrapper .content-box .content button{
    padding:0.5rem;
    font-weight: 600;
    font-size: 1rem;
    outline:none;
    border-radius: 0.5rem;
    border:0.1rem solid #ccc;
    background:rgb(6, 85, 142);
    color:#fff;
    cursor: pointer;
    transition: transform 0.1s ease;
}
.wrapper .content-box .content button:active{
    transform: scale(0.97);
}
